<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hand Digit Recognizer
      </h1>
      <h2 class="subtitle">
        Built using PyTorch, Tornado
      </h2>
      <h4 is-size-1>Draw a single digit on below canvas with mouse. Works best on Chrome.</h4>
      <br />
      <canvas v-drawingBoard="handleEndPaint"></canvas>
      <br />
      <h2 class="subtitle">
        Prediction<span v-if="prediction >= 0">: {{ prediction }} ({{ accuracy }}%)</span>
      </h2>
      <canvas id="resized-canvas"></canvas>
      <a v-on:click="onButtonClick" class="button is-small">clear</a>
    </div>
  </div>
</section>