<template>
  <div id="app">
    <canvas-comp></canvas-comp>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CanvasComp from '@/components/CanvasComp.ts';

@Component({
  components: {
    CanvasComp,
  },
})
export default class App extends Vue {
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
    canvas {
      background: black;
      width: 280px;
      height: 280px;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-crisp-edges;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
    }

  #resized-canvas {
    visibility: unset;
          width: 28px;
      height: 28px;
  }

</style>
